<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.heavy__job.HeavyJobProperty plugin="heavy-job@1.1">
      <weight>1</weight>
    </hudson.plugins.heavy__job.HeavyJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command># Prerequisites

# Install apache mesos
# Install dependencies
sudo apt-get install -y tar wget git build-essential python-dev openjdk-8-jdk \
libcurl4-nss-dev libsasl2-dev libsasl2-modules maven libapr1-dev libsvn-dev zlib1g-dev \
libssl-dev autoconf automake libtool

export PWD=`pwd`

# Install maven
wget http://apache.parentingamerica.com/maven/maven-3/3.3.9/binaries/apache-maven-3.3.9-bin.tar.gz
tar zxvf apache-maven-3.3.9-bin.tar.gz
export PATH=$PWD/apache-maven-3.3.9/bin:$PATH

# Build , configure and install Mesos
#git clone https://github.com/linux-on-ibm-z/mesos
#cd mesos/
#git checkout 0.28.x
#./bootstrap
#mkdir build
#cd build
#../configure
#make
#sudo make install

cd ../../

# Install Apache Zookeeper
sudo apt-get install -y zookeeper zookeeperd


## Building and Installing Chronos

# 1. Install the Dependencies
sudo apt-get install -y wget tar git gcc g++ make openjdk-8-jdk

# 2. Set environment variables for MAVEN
export MAVEN_HOME=$PWD/apache-maven-3.3.9

# 3. Build and install Node
git clone https://github.com/andrewlow/node.git
cd node/
./configure
make 
sudo make install

cd ..

# 4. Start Zookeeper by doing the following:
#sudo service zookeeper start

# 5. Start mesos master and slave(s)
sudo cp /home/test/work/Chronos_UBUNTU_s390x/libmesos-0.28.3.so /usr/local/lib/
sudo cp /home/test/work/Chronos_UBUNTU_s390x/libmesos.la /usr/local/lib/
sudo cp /home/test/work/Chronos_UBUNTU_s390x/libmesos.so /usr/local/lib/
sudo cp -r /home/test/work/Chronos_UBUNTU_s390x/mesos /usr/local/lib/
sudo cp -r /home/test/work/Chronos_UBUNTU_s390x/mesos_repo/mesos .
sleep 20
cd mesos/build
nohup ./bin/mesos-master.sh --ip=127.0.0.1 --work_dir=/var/lib/mesos &amp;

sleep 20

# Start mesos slave.
nohup ./bin/mesos-slave.sh --master=127.0.0.1:5050 &amp;

sleep 20

cd ../../

# 6. Build Chronos
git clone https://github.com/mesos/chronos.git
cd chronos
mvn package
nohup bin/start-chronos.bash --http_port 4400 &amp;
sleep 20
wget localhost:4400</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <org.jvnet.hudson.plugins.groovypostbuild.GroovyPostbuildRecorder plugin="groovy-postbuild@2.3.1">
      <script plugin="script-security@1.24">
        <script>import jenkins.model.Jenkins

def x=manager.envVars[&apos;NODE_NAME&apos;]
Jenkins.instance.slaves.each {
    if(it.name==x){
it.getComputer().doDoDelete()
    }
}</script>
        <sandbox>false</sandbox>
      </script>
      <behavior>0</behavior>
      <runForMatrixParent>false</runForMatrixParent>
    </org.jvnet.hudson.plugins.groovypostbuild.GroovyPostbuildRecorder>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.53">
      <recipientList>duane_dsouza@persistent.co.in</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>$DEFAULT_CONTENT</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript>$DEFAULT_PRESEND_SCRIPT</presendScript>
      <postsendScript></postsendScript>
      <attachBuildLog>true</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo>$DEFAULT_REPLYTO</replyTo>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
  </publishers>
  <buildWrappers/>
</project>