<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.heavy__job.HeavyJobProperty plugin="heavy-job@1.1">
      <weight>1</weight>
    </hudson.plugins.heavy__job.HeavyJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>dc2_ub16.10_4096</assignedNode>
  <canRoam>false</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>H 5 * * 2</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command># Install build dependencies
homedir=`pwd`
echo $homedir
sudo apt-get update -y
sudo apt-get install -y git wget make bzip2 unzip gcc python python-dev python-setuptools python-lxml python-ldap libxslt1-dev libffi-dev openssl libtool g++ libssl-dev
sudo easy_install pip
sudo pip install paramiko httplib2 passlib six patch django call coverage==3.7.1 coveralls funcsigs pyzmq PyYAML pycrypto msgpack-python jinja2 psutil futures tornado


# Download source code
git clone https://github.com/saltstack/salt
cd salt        
git checkout v2017.7.1
        
    
# Install saltstack and check version
cd ..
sudo pip install -e ./salt  
salt --version

# Configure Salt master and minion

mkdir -p etc/salt/
cp ./salt/conf/master ./salt/conf/minion etc/salt/
cd etc/salt/ 

sed -i &apos;s/#user: root/user: root/g&apos; master
sed -i &apos;s,#root_dir: /,&apos;&quot;root_dir: $homedir&quot;&apos;,&apos; master

sed -i &apos;s/#master: salt/master: localhost/g&apos; minion
sed -i &apos;s/#user: root/user: root/g&apos; minion
sed -i &apos;s,#root_dir: /,&apos;&quot;root_dir: $homedir&quot;&apos;,&apos; minion

cd $homedir
sudo salt-master -c ./etc/salt -d 
sudo salt-minion -c ./etc/salt -d 
sleep 2m
sudo salt-key -c ./etc/salt -L 
sudo salt-key -c ./etc/salt -A  -y
sudo salt -c ./etc/salt &apos;*&apos; test.ping || true

# Check master, minion process
ps -ef | grep salt

# Unit and integration tests (optional)
#cd $homedir/salt
#sudo pip install git+https://github.com/saltstack/salt-testing.git#egg=SaltTesting
#sudo pip install -r requirements/dev_python27.txt 
#sudo ./setup.py test


# **Note:** Test failures seen in the following modules can be ignore as these are not related to IBM z Systems:_ 
#           _Module Tests, State Tests, Shell Tests, NetAPI Tests, Salt Unit Test</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <org.jvnet.hudson.plugins.groovypostbuild.GroovyPostbuildRecorder plugin="groovy-postbuild@2.3.1">
      <script plugin="script-security@1.24">
        <script>import jenkins.model.Jenkins

def x=manager.envVars[&apos;NODE_NAME&apos;]
Jenkins.instance.slaves.each {
    if(it.name==x){
it.getComputer().doDoDelete()
    }
}</script>
        <sandbox>false</sandbox>
      </script>
      <behavior>0</behavior>
      <runForMatrixParent>false</runForMatrixParent>
    </org.jvnet.hudson.plugins.groovypostbuild.GroovyPostbuildRecorder>
    <jenkins.plugins.slack.SlackNotifier plugin="slack@2.2">
      <baseUrl></baseUrl>
      <teamDomain></teamDomain>
      <authToken></authToken>
      <authTokenCredentialId></authTokenCredentialId>
      <botUser>false</botUser>
      <room>#loz-jenkins-build, @gsalgaon</room>
      <startNotification>false</startNotification>
      <notifySuccess>false</notifySuccess>
      <notifyAborted>false</notifyAborted>
      <notifyNotBuilt>false</notifyNotBuilt>
      <notifyUnstable>false</notifyUnstable>
      <notifyRegression>false</notifyRegression>
      <notifyFailure>true</notifyFailure>
      <notifyBackToNormal>true</notifyBackToNormal>
      <notifyRepeatedFailure>true</notifyRepeatedFailure>
      <includeTestSummary>false</includeTestSummary>
      <includeFailedTests>false</includeFailedTests>
      <commitInfoChoice>NONE</commitInfoChoice>
      <includeCustomMessage>false</includeCustomMessage>
      <customMessage></customMessage>
    </jenkins.plugins.slack.SlackNotifier>
  </publishers>
  <buildWrappers/>
</project>