<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.heavy__job.HeavyJobProperty plugin="heavy-job@1.1">
      <weight>1</weight>
    </hudson.plugins.heavy__job.HeavyJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>dockercloud_ubuntu16.04-ibm-java-8</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>H 0 * * 3</spec>
    </hudson.triggers.TimerTrigger>
    <hudson.triggers.SCMTrigger>
      <spec>H 13 * * 3</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>export WORK_DIR=`pwd`


export JAVA_HOME=/opt/ibm/java-s390x-80
export PATH=$JAVA_HOME/bin:$PATH
java -version

sudo apt-get update
sudo apt-get install -y git gcc g++ make graphviz rpm wget maven tar unzip bzip2 npm nodejs nodejs-legacy devscripts debhelper rpm openjdk-8-jdk-headless

export MAVEN_OPTS=&quot;-Xmx1024m -XX:MaxPermSize=512m&quot;
export JVM_ARGS=&quot;-Xms1024m -Xmx1024m&quot;

cd $WORK_DIR
wget https://github.com/neo4j/neo4j/archive/2.3.zip 
unzip 2.3.zip
cd $WORK_DIR/neo4j-2.3

sed -i &apos;26i import org.junit.Ignore;&apos;  community/kernel/src/test/java/org/neo4j/helpers/HostnamePortTest.java
sed -i &apos;488i @Ignore&apos;  community/kernel/src/test/java/org/neo4j/helpers/HostnamePortTest.java
sed -i &apos;50i @Ignore&apos;  community/kernel/src/test/java/org/neo4j/qa/tooling/DumpProcessInformationTest.java
sed -i &apos;22i import org.junit.Ignore;&apos;  community/kernel/src/test/java/org/neo4j/qa/tooling/DumpProcessInformationTest.java
 
mvn clean install -DskipBrowser -DskipTests -fn

cd $WORK_DIR/neo4j-2.3/community/server
mvn clean compile exec:java &amp;
sleep 10m
wget http://localhost:7474</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <org.jvnet.hudson.plugins.groovypostbuild.GroovyPostbuildRecorder plugin="groovy-postbuild@2.3.1">
      <script plugin="script-security@1.24">
        <script>import jenkins.model.Jenkins

def x=manager.envVars[&apos;NODE_NAME&apos;]
Jenkins.instance.slaves.each {
    if(it.name==x){
it.getComputer().doDoDelete()
    }
}</script>
        <sandbox>false</sandbox>
      </script>
      <behavior>0</behavior>
      <runForMatrixParent>false</runForMatrixParent>
    </org.jvnet.hudson.plugins.groovypostbuild.GroovyPostbuildRecorder>
    <jenkins.plugins.slack.SlackNotifier plugin="slack@2.2">
      <baseUrl></baseUrl>
      <teamDomain></teamDomain>
      <authToken></authToken>
      <authTokenCredentialId></authTokenCredentialId>
      <botUser>false</botUser>
      <room>#loz-jenkins-build,@bhatekar,@chandranana.naik</room>
      <startNotification>false</startNotification>
      <notifySuccess>false</notifySuccess>
      <notifyAborted>false</notifyAborted>
      <notifyNotBuilt>false</notifyNotBuilt>
      <notifyUnstable>false</notifyUnstable>
      <notifyRegression>false</notifyRegression>
      <notifyFailure>true</notifyFailure>
      <notifyBackToNormal>true</notifyBackToNormal>
      <notifyRepeatedFailure>true</notifyRepeatedFailure>
      <includeTestSummary>false</includeTestSummary>
      <includeFailedTests>false</includeFailedTests>
      <commitInfoChoice>NONE</commitInfoChoice>
      <includeCustomMessage>false</includeCustomMessage>
      <customMessage></customMessage>
    </jenkins.plugins.slack.SlackNotifier>
  </publishers>
  <buildWrappers/>
</project>