<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.heavy__job.HeavyJobProperty plugin="heavy-job@1.1">
      <weight>1</weight>
    </hudson.plugins.heavy__job.HeavyJobProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.0.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/linux-on-ibm-z/mongo</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>v3.0-s390</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
        <relativeTargetDir>mongo</relativeTargetDir>
      </hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
    </extensions>
  </scm>
  <assignedNode>ketan_sles11_new</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>H 1 * * 6
</spec>
    </hudson.triggers.TimerTrigger>
    <hudson.triggers.SCMTrigger>
      <spec>H 1 * * 6
</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#python-six
#sudo zypper install -y awk wget tar make flex gcc  python-setuptools gcc-c++ binutils-devel bzip2 git subversion binutils-devel.s390x unzip zip texinfo glibc-devel glibc-devel-32bit python-xml python-devel
#cd /home/test/
#rm -rf gcc
#git clone https://github.com/gcc-mirror/gcc
cd /home/test/
#git checkout gcc-5_3_0-release
#./contrib/download_prerequisites
#./configure --prefix=&quot;/opt/gcc&quot;  --enable-shared --with-system-zlib --enable-threads=posix --enable-__cxa_atexit --enable-checking --enable-gnu-indirect-function --enable-languages=&quot;c,c++&quot; --disable-bootstrap --disable-multilib
#make
#sudo make install
#sudo ln -sf /opt/gcc/bin/gcc /usr/bin/gcc
#sudo ln -sf /opt/gcc/bin/g++ /usr/bin/g++

#cd /home/test/

&apos;
#cd /home/test
wget https://sourceforge.net/projects/scons/files/scons/2.3.5/scons-2.3.5-1.noarch.rpm
python --version
sudo python --version
sudo rpm -i scons-2.3.5-1.noarch.rpm

#cd /home/test/
git clone https://github.com/mongodb/mongo
cd mongo
git checkout r3.3.12

sudo scons --opt --allocator=system all --use-s390x-crc32=off



cd /home/test/
rm go1.7.1.linux-s390x.tar.gz
wget https://storage.googleapis.com/golang/go1.7.1.linux-s390x.tar.gz
sudo chmod ugo+r go1.7.1.linux-s390x.tar.gz
sudo tar -C /usr/local -xzf go1.7.1.linux-s390x.tar.gz
export PATH=$PATH:/usr/local/go/bin
sudo ln /usr/bin/gcc /usr/bin/s390x-linux-gnu-gcc
go version 

cd /home/test/
git clone https://github.com/mongodb/mongo-tools
cd mongo-tools
git checkout r3.3.11

./build.sh

cd /home/test/
rm -rf pymongo
git clone git://github.com/mongodb/mongo-python-driver.git pymongo
cd pymongo
sudo python setup.py install

cd /home/test/
git clone https://github.com/yaml/pyyaml.git
cd pyyaml
sudo python setup.py install


gcc --version


cd /home/test/mongo
git branch
sudo python buildscripts/resmoke.py --suites=core

echo &quot;results 1&quot;
sudo python buildscripts/resmoke.py --suites=unittests
echo &quot;results 2&quot;

cd /home/test/mongo
sudo ./dbtest
echo &quot;results 3&quot;


 

</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <org.jvnet.hudson.plugins.groovypostbuild.GroovyPostbuildRecorder plugin="groovy-postbuild@2.3.1">
      <script plugin="script-security@1.24">
        <script>import jenkins.model.Jenkins

def x=manager.envVars[&apos;NODE_NAME&apos;]
Jenkins.instance.slaves.each {
if(it.name==x){
it.getComputer().doDoDelete()
}
}</script>
        <sandbox>false</sandbox>
      </script>
      <behavior>0</behavior>
      <runForMatrixParent>false</runForMatrixParent>
    </org.jvnet.hudson.plugins.groovypostbuild.GroovyPostbuildRecorder>
    <jenkins.plugins.slack.SlackNotifier plugin="slack@2.2">
      <baseUrl></baseUrl>
      <teamDomain></teamDomain>
      <authToken></authToken>
      <authTokenCredentialId></authTokenCredentialId>
      <botUser>false</botUser>
      <room>#loz-jenkins-build,@duaned</room>
      <startNotification>false</startNotification>
      <notifySuccess>false</notifySuccess>
      <notifyAborted>false</notifyAborted>
      <notifyNotBuilt>false</notifyNotBuilt>
      <notifyUnstable>false</notifyUnstable>
      <notifyRegression>false</notifyRegression>
      <notifyFailure>true</notifyFailure>
      <notifyBackToNormal>true</notifyBackToNormal>
      <notifyRepeatedFailure>true</notifyRepeatedFailure>
      <includeTestSummary>false</includeTestSummary>
      <includeFailedTests>false</includeFailedTests>
      <commitInfoChoice>NONE</commitInfoChoice>
      <includeCustomMessage>false</includeCustomMessage>
      <customMessage></customMessage>
    </jenkins.plugins.slack.SlackNotifier>
  </publishers>
  <buildWrappers/>
</project>