<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.heavy__job.HeavyJobProperty plugin="heavy-job@1.1">
      <weight>1</weight>
    </hudson.plugins.heavy__job.HeavyJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>dc2_rh7.3_4096</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>H 13 * * 1</spec>
    </hudson.triggers.TimerTrigger>
    <hudson.triggers.SCMTrigger>
      <spec>H 13 * * 2</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>source /home/test/.bashrc

export rethinkdb_home=`pwd`

#Install the dependencies
sudo yum groupinstall -y &apos;Development Tools&apos;
sudo yum install -y python openssl-devel libcurl-devel wget tar m4 git-core boost-static m4 gcc-c++ npm ncurses-devel which make ncurses-static zlib-devel zlib-static
sudo yum install -y protobuf protobuf-compiler protobuf-devel

#Clone and build RethinkDB
git clone https://github.com/linux-on-ibm-z/rethinkdb.git --branch next-s390x
cd rethinkdb/

#Changes for Jemalloc
cp mk/support/pkg/jemalloc.sh mk/support/pkg/jemalloc.sh.orig
sed -i &apos;4d&apos; mk/support/pkg/jemalloc.sh
sed -i &apos;4 i src_url=https://github.com/jemalloc/jemalloc/releases/download/4.1.0/jemalloc-4.1.0.tar.bz2&apos; mk/support/pkg/jemalloc.sh

#Changed for V8
cp mk/support/pkg/v8.sh mk/support/pkg/v8.sh.orig

sed -i &apos;65 i export CXXFLAGS=&quot;-fno-delete-null-pointer-checks&quot;&apos; mk/support/pkg/v8.sh
sed -i &apos;65 s/^/       /&apos; mk/support/pkg/v8.sh

sed -i &apos;67d &apos; mk/support/pkg/v8.sh
sed -i &apos;67 i make dependencies || true&apos;  mk/support/pkg/v8.sh
sed -i &apos;67 s/^/       /&apos; mk/support/pkg/v8.sh

sed -i &apos;68d &apos; mk/support/pkg/v8.sh
sed -i &apos;68 i make s390x -j4 werror=no snapshot=off library=static&apos;  mk/support/pkg/v8.sh
sed -i &apos;68 s/^/       /&apos; mk/support/pkg/v8.sh


sed -i &apos;158d &apos; mk/support/pkg/v8.sh
sed -i &apos;158 i  for lib in libv8_{base,libbase,nosnapshot,libplatform}; do&apos;  mk/support/pkg/v8.sh
sed -i &apos;158 s/^/    /&apos; mk/support/pkg/v8.sh


./configure --allow-fetch
make -j 4


#Install RethinkDB
sudo make install

# There are intermittent test case failures and timeout failures, hence commented the testcases
#Test RethinkDB
#make DEBUG=1
#./test/run unit 2&gt;&amp;1 | tee unit_tests

#Execute Integration Tests
#./test/run 2&gt;&amp;1 | tee integration_tests

#Start RethinkDB server
rethinkdb --bind all &amp;

sleep 10s 

ps -aef | grep rethinkdb

</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <org.jvnet.hudson.plugins.groovypostbuild.GroovyPostbuildRecorder plugin="groovy-postbuild@2.3.1">
      <script plugin="script-security@1.24">
        <script>import jenkins.model.Jenkins

def x=manager.envVars[&apos;NODE_NAME&apos;]
Jenkins.instance.slaves.each {
if(it.name==x){
it.getComputer().doDoDelete()
}
}
</script>
        <sandbox>false</sandbox>
      </script>
      <behavior>0</behavior>
      <runForMatrixParent>false</runForMatrixParent>
    </org.jvnet.hudson.plugins.groovypostbuild.GroovyPostbuildRecorder>
    <jenkins.plugins.slack.SlackNotifier plugin="slack@2.2">
      <baseUrl></baseUrl>
      <teamDomain></teamDomain>
      <authToken></authToken>
      <authTokenCredentialId></authTokenCredentialId>
      <botUser>false</botUser>
      <room>@chandranana.naik,@ketank</room>
      <startNotification>false</startNotification>
      <notifySuccess>false</notifySuccess>
      <notifyAborted>false</notifyAborted>
      <notifyNotBuilt>false</notifyNotBuilt>
      <notifyUnstable>false</notifyUnstable>
      <notifyRegression>false</notifyRegression>
      <notifyFailure>true</notifyFailure>
      <notifyBackToNormal>true</notifyBackToNormal>
      <notifyRepeatedFailure>true</notifyRepeatedFailure>
      <includeTestSummary>false</includeTestSummary>
      <includeFailedTests>false</includeFailedTests>
      <commitInfoChoice>NONE</commitInfoChoice>
      <includeCustomMessage>false</includeCustomMessage>
      <customMessage></customMessage>
    </jenkins.plugins.slack.SlackNotifier>
  </publishers>
  <buildWrappers/>
</project>