<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.heavy__job.HeavyJobProperty plugin="heavy-job@1.1">
      <weight>1</weight>
    </hudson.plugins.heavy__job.HeavyJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>dockercloud_sles12-sp2-8192</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>H 15 * * 5</spec>
    </hudson.triggers.TimerTrigger>
    <hudson.triggers.SCMTrigger>
      <spec>H 15 * * 5</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>sudo zypper install -y curl git which wget tar gcc
wget https://storage.googleapis.com/golang/go1.7.1.linux-s390x.tar.gz
chmod ugo+r go1.7.1.linux-s390x.tar.gz
sudo tar -C /usr/local -xzf go1.7.1.linux-s390x.tar.gz
cd /usr/bin
sudo ln gcc s390x-linux-gnu-gcc
export PATH=$PATH:/usr/local/go/bin

# Building and Installing Kubernetes
sudo zypper install -y git gcc-c++ which iptables make

cd $HOME 
git clone https://github.com/kubernetes/kubernetes.git
cd $HOME/kubernetes
git checkout v1.5.7
cd $HOME/kubernetes/vendor/golang.org/x
mv sys sys.bak
git clone https://github.com/linux-on-ibm-z/sys.git
cd $HOME/kubernetes

export GOPATH=$HOME/kubernetes
export PATH=$PATH:$GOPATH/bin:$GOPATH/_output/local/go/bin

go get -u github.com/jteeuwen/go-bindata/go-bindata
mkdir -p _output/bin
touch _output/bin/deepcopy-gen
touch _output/bin/conversion-gen
touch _output/bin/defaulter-gen
touch _output/bin/openapi-gen
chmod u=rwx _output/bin/deepcopy-gen
chmod u=rwx _output/bin/conversion-gen
chmod u=rwx _output/bin/defaulter-gen
chmod u=rwx _output/bin/openapi-gen

make 
rm ./src/github.com/jteeuwen/go-bindata/testdata/symlinkRecursiveParent/symlinkTarget
make test</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <org.jvnet.hudson.plugins.groovypostbuild.GroovyPostbuildRecorder plugin="groovy-postbuild@2.3.1">
      <script plugin="script-security@1.24">
        <script>import jenkins.model.Jenkins

def x=manager.envVars[&apos;NODE_NAME&apos;]
Jenkins.instance.slaves.each {
if(it.name==x){
it.getComputer().doDoDelete()
}
}</script>
        <sandbox>false</sandbox>
      </script>
      <behavior>0</behavior>
      <runForMatrixParent>false</runForMatrixParent>
    </org.jvnet.hudson.plugins.groovypostbuild.GroovyPostbuildRecorder>
    <jenkins.plugins.slack.SlackNotifier plugin="slack@2.2">
      <baseUrl></baseUrl>
      <teamDomain></teamDomain>
      <authToken></authToken>
      <authTokenCredentialId></authTokenCredentialId>
      <botUser>false</botUser>
      <room>#loz-jenkins-build,@gsalgaon</room>
      <startNotification>false</startNotification>
      <notifySuccess>false</notifySuccess>
      <notifyAborted>false</notifyAborted>
      <notifyNotBuilt>false</notifyNotBuilt>
      <notifyUnstable>false</notifyUnstable>
      <notifyRegression>false</notifyRegression>
      <notifyFailure>true</notifyFailure>
      <notifyBackToNormal>true</notifyBackToNormal>
      <notifyRepeatedFailure>true</notifyRepeatedFailure>
      <includeTestSummary>false</includeTestSummary>
      <includeFailedTests>false</includeFailedTests>
      <commitInfoChoice>NONE</commitInfoChoice>
      <includeCustomMessage>false</includeCustomMessage>
      <customMessage></customMessage>
    </jenkins.plugins.slack.SlackNotifier>
  </publishers>
  <buildWrappers/>
</project>