<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.heavy__job.HeavyJobProperty plugin="heavy-job@1.1">
      <weight>1</weight>
    </hudson.plugins.heavy__job.HeavyJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>dockercloud_rhel6.9-8192</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>H 1 * * 0</spec>
    </hudson.triggers.TimerTrigger>
    <hudson.triggers.SCMTrigger>
      <spec>H 1 * * 0</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>source /home/test/.bashrc
# Install dependencies
sudo yum install -y git subversion make gcc-c++ tar wget
sudo yum install -y ncurses-devel patch zlib-devel bzip2-devel xz openssl-devel
sudo yum install -y autoconf perl-devel
#sudo yum install -y git subversion make gcc-c++ tar wget ncurses-devel patch zlib-devel bzip2-devel xz openssl-devel autoconf perl-devel

export JENKINS_HOME=`pwd`

# Clone depot-tools and set PATH
cd $JENKINS_HOME
git clone https://chromium.googlesource.com/chromium/tools/depot_tools.git
export PATH=$(pwd)/depot_tools:$PATH
export VPYTHON_BYPASS=&quot;manually managed python not supported by chrome operations&quot;

#Install Python 2.7.11
cd $JENKINS_HOME
wget https://www.python.org/ftp/python/2.7.11/Python-2.7.11.tar.xz
tar -xf Python-2.7.11.tar.xz
cd Python-2.7.11
./configure --prefix=/usr/local --exec-prefix=/usr/local
make 
sudo make install
python --version


# Install git 2.2.1
cd $JENKINS_HOME
wget https://github.com/git/git/archive/v2.2.1.tar.gz
tar -xf v2.2.1.tar.gz
cd git-2.2.1
make configure &amp;&amp; ./configure --prefix=/usr --without-tcltk
make NO_GETTEXT=1 &amp;&amp; sudo make install NO_GETTEXT=1
git --version

#Obtain the V8 source code
cd $JENKINS_HOME
git clone git://github.com/ibmruntimes/v8z
cd v8z
git checkout 3.28-s390

# Fetch source code for dependent lbraries
make dependencies

# Build v8
make s390x -j4

# Build v8 with shared libraries
make s390x -j4 library=shared

# Cross checking generated files
rm -rf include_headers_test.txt executables_test.txt lib_headers_test.txt
cat &lt;&lt;EOT &gt;&gt; include_headers_test.txt
libplatform
v8-debug.h
v8-platform.h
v8-profiler.h
v8-testing.h
v8-util.h
v8.h
v8config.h
v8stdint.h
EOT

cat &lt;&lt;EOT &gt;&gt; executables_test.txt
libicui18n.so
libicuuc.so
libv8.so
EOT

cat &lt;&lt;EOT &gt;&gt; lib_headers_test.txt
libicudata.a
libicui18n.a
libicui18n.so
libicuuc.a
libicuuc.so
EOT

ls include/ | tee include_headers.txt
ls out/s390x.release/lib.target/ | tee executables.txt
ls out/s390x.release/obj.target/third_party/icu | tee lib_headers.txt

result_include_headers=`diff include_headers.txt include_headers_test.txt`
 
if [ -z &quot;$result_include_headers&quot; ] ; then
  echo &quot;include_headers are generated&quot;
else
  exit 1
fi

result_executables=`diff executables.txt executables_test.txt`
 
if [ -z &quot;$result_executables&quot; ] ; then
  echo &quot;executables are generated&quot;
else
  exit 1
fi
result_lib_headers=`diff lib_headers.txt lib_headers_test.txt`
 
if [ -z &quot;$result_lib_headers&quot; ] ; then
  echo &quot;lib_headers are generated&quot;
else
  exit 1
fi

# Install V8 header files

sudo cp -vR include/* /usr/include/
sudo chmod -f 644 /usr/include/v8*h /usr/include/libplatform/libplatform.h

sudo cp -v out/s390x.release/lib.target/lib*.so /usr/local/lib64/ 
sudo chmod -v 755 /usr/local/lib64/libv8.so
sudo cp -v out/s390x.release/obj.target/tools/gyp/lib*.a /usr/local/lib64/
    
sudo cp -v out/s390x.release/obj.target/third_party/icu/lib*.a /usr/local/lib64/
sudo chmod -v 755 /usr/local/lib64/libicu*.so
sudo chmod -v 644 /usr/local/lib64/libv8*.a /usr/local/lib64/libicu*.a

sudo ldconfig -v

# Verify version of shell
$JENKINS_HOME/v8z/out/s390x.release/shell</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <org.jvnet.hudson.plugins.groovypostbuild.GroovyPostbuildRecorder plugin="groovy-postbuild@2.3.1">
      <script plugin="script-security@1.24">
        <script>import jenkins.model.Jenkins

def x=manager.envVars[&apos;NODE_NAME&apos;]
Jenkins.instance.slaves.each {
if(it.name==x){
it.getComputer().doDoDelete()
}
}</script>
        <sandbox>false</sandbox>
      </script>
      <behavior>0</behavior>
      <runForMatrixParent>false</runForMatrixParent>
    </org.jvnet.hudson.plugins.groovypostbuild.GroovyPostbuildRecorder>
    <jenkins.plugins.slack.SlackNotifier plugin="slack@2.2">
      <baseUrl></baseUrl>
      <teamDomain></teamDomain>
      <authToken></authToken>
      <authTokenCredentialId></authTokenCredentialId>
      <botUser>false</botUser>
      <room>#loz-jenkins-build,@salamani</room>
      <startNotification>false</startNotification>
      <notifySuccess>false</notifySuccess>
      <notifyAborted>false</notifyAborted>
      <notifyNotBuilt>false</notifyNotBuilt>
      <notifyUnstable>false</notifyUnstable>
      <notifyRegression>false</notifyRegression>
      <notifyFailure>true</notifyFailure>
      <notifyBackToNormal>true</notifyBackToNormal>
      <notifyRepeatedFailure>true</notifyRepeatedFailure>
      <includeTestSummary>false</includeTestSummary>
      <includeFailedTests>false</includeFailedTests>
      <commitInfoChoice>NONE</commitInfoChoice>
      <includeCustomMessage>false</includeCustomMessage>
      <customMessage></customMessage>
    </jenkins.plugins.slack.SlackNotifier>
  </publishers>
  <buildWrappers/>
</project>